@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.container {
    @apply w-full mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
    [x-cloak] {
        display: none !important;
    }
}

@layer components {
    .container {
        @apply w-full mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl;
    }

    .nav-link {
        @apply text-gray-700 hover:text-gray-900 hover:underline hover:underline-offset-4;
    }

    .mobile-link {
        @apply block text-gray-700 hover:text-gray-900 hover:underline hover:underline-offset-4;
    }
}
